
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Merriweather&family=Oswald:wght@300;400&family=Source+Sans+Pro:wght@300&display=swap');
*  {
margin: 0 auto;
padding: 0;
border: none;
max-width: 1400px;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight:400;
    color: #333333;
}

/*headings and main title*/

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #1a1a1a;
}

#maintitle {
    float: left;
    font-size:200%;
    margin-left: 20px;
    height: 65px;
}

/* navigation bar */
.nav {
    height: 65px;

}

#navbar {
    font-size: 130%;
    letter-spacing: 3px;
}

#maintitle #navbar {
    height: 85px;
    position: relative;
}

#navbar li{
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

/*main image */

#topbar {
    height: 400px;
    width: 1400px;
    background: url('../images/main-photo.jpg') no-repeat center center;
    background-size: cover;
   
}

/* brief history in container with scroll bar */

.header {
background-color: cadetblue;
padding: 0px 10px;
font-size: 30px;
font-weight: bold;
text-align: center;

}

.briefhistory {
    height: 300px;
    width: 1400px;
    border: 1px solid black;
    margin-top: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* flexbox section */

.flex-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    
}

/* hover text in image */

.textoverimage {
   
    background-size: 100%;
    background-position: center ; 
}
.textoverimage:hover {
    background-size: cover;
}
.textoverimage:after {
    position: absolute;
    top: 90%;
    bottom: 0;
    left: 0;
    right: 0;
    word-wrap: break-word;
    overflow: hidden;  
    font: bolder;
    font-weight: 700;
    background-color: lightgrey;
    color:maroon;
    padding: 0 8px;
    content: attr(data-text);
    transition: 0.5s;
}

.textoverimage:hover:after {
 top: 0;
 padding:8px;
 opacity: 0.7;
}

.textoverimage:first-line {
    color: #fff;
    font-weight: bolder;
    font-size: 1.5rem;
}


/* flexbox items style */

.flex-item-1 {
    width: 300px;
    height: 300px;
    background: url('../images/Nicéphore_Niépce_Oldest_Photograph_1825.jpg') no-repeat center center;
    background-size: cover;
    filter: drop-shadow(10px 10px 5px grey);
}

.flex-item-2 {
    width: 300px;
    height: 300px;
    background: url('../images/First_Image_Joseph_Nicephore_Niepce_1826-1827.jpg') no-repeat center center;
    background-size: cover;
    filter: drop-shadow(10px 10px 5px grey);
}


.flex-item-3 {
    height: 300px;
    width: 300px;
    background:url('../images/RobertCornelius_1839.jpg') no-repeat center center;
    background-size: cover;
    filter: drop-shadow(10px 10px 5px grey);
}


.flex-item-4 {
    height: 300px;
    width: 300px;
    background:url('../images/Dorothy_Catherine_Draper_crop.jpg') no-repeat center center;
    background-size: cover;
    filter: drop-shadow(10px 10px 5px grey);
}


.flex-item-5 {
    height: 300px;
    width: 300px;
    background: url('../images/Roger_Fenton\'s_waggon_1855.jpg') no-repeat center center;
    background-size: cover;
    filter: drop-shadow(10px 10px 5px #666666);
}

.flex-item-6 {
    height: 300px;
    width: 300px;
    background: url('../images/First_Aerial_Photography_1860.jpg') no-repeat center center;
    background-size: cover;
    filter: drop-shadow(10px 10px 5px #666666);
}

.flex-item-7 {
    height: 300px;
    width: 300px;
    background: url('../images/First_Color_Print_1877.jpg') no-repeat center center;
    background-size: cover;
    filter: drop-shadow(10px 10px 5px #666666);
}

.flex-item-8 {
    height: 300px;
    width: 300px;
    background: url('../images/First_Wildlife_Photograpfy_1895.jpg') no-repeat center center;
    background-size: cover;
    filter: drop-shadow(10px 10px 5px #666666);
}

.flex-item-9 {
    height: 300px;
    width: 300px;
    background: url('../images/London_\,_Kodachrome_1949.jpg') no-repeat center center;
    background-size: cover;
    filter: drop-shadow(10px 10px 5px #404040);
}

.flex-item-10 {
    height: 300px;
    width: 300px;
    background: url('../images/KodaChrome_1967_4Year_Old.jpg') no-repeat center center;
    background-size: cover;
    filter: drop-shadow(10px 10px 5px #404040);
}

.flex-item-11 {
    height: 300px;
    width: 300px;
    background: url('../images/first-digital-image.jpg') no-repeat center center;
    background-size: cover;
    filter: drop-shadow(10px 10px 5px #404040);
}

.flex-item-12 {
    height: 300px;
    width: 300px;
    background: url('../images/Digital_cameras_1975_Kodaks.jpg') no-repeat center center;
    background-size: cover;
    filter: drop-shadow(10px 10px 5px #404040);
}


  /*about us section */

  .about-us {
    height: 250px;
    width: 1400px;
    border: 1px solid black;
    margin-top: 10px;
    background-color: maroon;
}

   .aboutus-title {
       font-size: 200%;
       text-align: center;
       color: mintcream;
   }

   .contact-us{
       color: mintcream;
       text-align: left;
       margin-left: 40px;
   }

   .contact-us h3 {
       color: mintcream;
   }

.carmarthen {
    height: 150px;
    width: 150px;
    background: url('../images/carmarthen\ camera\ centre.jpg') no-repeat center center;
    background-size: cover;
    float: right;
    margin-right:75px;
}


   /* sign up section */


   .sign-up {
    height: 400px;
    width: 1400px;
    border: 1px solid black;
    margin-top: 10px;
    background:url('../images/sigh-up-image.jpg') no-repeat center center;
    background-size: cover;
}

.signup-blank {
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 200px;
    float: left;
    margin-left: 20px;
    padding: 30px;
    margin-top: 20px;
}

    .text-form {
        background: transparent;
        color: #fafafa;
        width: 100%;
        height: 25px;
        margin: 5px 0 20px 0;
        border: 1px solid #fafafa;
        border-radius: 2px;
    }

    .signup-title {
    color: #fafafa;
    text-transform: uppercase;
    margin-bottom: 5px;
    }

    .subscribe {
        border-radius: 2px;
        text-align: center;
        background-color: orangered;
        font-size: 100%;
        display: block;
    }

    .subscribe:hover {
    background-color: #fafafa;
    color: #f16c6b;
    }